<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>EARLY PREDICTION OF LIFESTYLE DISEASES</title>
<meta name="author" content="Vishnu Vardhan Reddy"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css"/>
<link rel="icon" href="../static/images/ld.png"/>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h3><font size="5" color="white">EARLY PREDICTION OF LIFESTYLE DISEASES</font></h3>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul>
<li class="active"><a href="Visualize">Data Pre-Processing & Visualize</a></li>
<li class="active"><a href="TrainModel">Train Model</a></li>
<!--<li class="active"><a href="TrainMLP">Train MLP</a></li>-->
<li><a href="Predict">Predict LD</a></li>
<li><a href="AccuracyGraph">Accuracy Graph</a></li>
<li><a href="index">Logout</a></li>
			
		</ul>
		<br class="clearfix" />
	</div>
	
	<br/>
	<center><h3><p style="background-color: white;"><font size="3" color="black"></p></h3></center>
	{{ error|safe }}
	
</body>
</html>

